<div class="mt-4">
    <h3>Chỉnh sửa khóa học</h3>

    <form class="mt-4"action="/courses/{{course._id}}?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học (name)</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khóa học (description)</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Link ảnh khóa học (image)</label>
            <input type="text" class="form-control" value="{{course.image}}" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Link video khóa học (videoId)</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
    </form>

</div>