<h1>{{title}}</h1>
<div class="mt-4">
    <div class="row">
        {{#each course}}
        <div class="col-sm-6 col-lg-4" style=" margin-top: 10px; margin-bottom: 10px">
            <div class="card card-course-item">
                <a href="/courses/{{this.slug}}"><img src="{{this.image}}" class="card-img" style="height: 220px"></a>
                
                <div class="card-body card-body-position">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/courses/{{this.slug}}" class="btn btn-primary btn-position">Truy cập khóa học</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>