<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
  <div>
    <h3>Danh sách khóa học của tôi</h3>
    <a href="/me/trash/courses/">Thùng rác:{{deletedCount}} <i class="fa fa-trash"></i></a>
    <div class="mt-4 d-flex align-items-center justify-content-evenly">

      <select class="form-select form-control-sm w-50 p-1" name="action" required="required">
        <option value="">-- Chọn hành động --</option>
        <option value="delete">Xóa</option>
      </select>
      <button class="btn btn-primary btn-sm" disabled="disabled">Áp dụng</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all" />
          </div>
        </th>
        <th scope="col">
          ID
          {{{sortable '_id' _sort}}}
        </th>
        <th scope="col">
          Tên khóa học
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">
          Thời gian tạo
          {{{sortable 'createdAt' _sort}}}
        </th>
        <th scope="col">
          Thời gian cập nhật
          {{{sortable 'updatedAt' _sort}}}
        </th>
        <th scope="col" colspan="2">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIDs[]" />
          </div>
        </td>
        <th>{{this._id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.updatedAt}}</td>
        <td><a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa</a></td>
        <td><a href="" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
            data-bs-target="#delete-course-model">Xóa</a></td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Chưa có khóa học nào.
          <a href="/courses/create"> Tạo khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Modal - Confirm delete courses }}
<div class="modal" tabindex="-1" id="delete-course-model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa khóa học ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xác
          nhận xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{! Delete hidden form }}
<form method="POST" name="delete-course-form"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    //Init variables
    var courseID;
    var deleteForm = document.forms['delete-course-form']
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var checkboxAll = $('#checkbox-all')
    var courseItemCheckbox = $('input[name="courseIDs[]"]')
    var containerForm = document.forms['container-form']



    // When Delete button clicked
    $('#delete-course-model').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseID = button.data('id');
    });

    // When Confirm button clicked
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseID + '/softDelete?_method=DELETE';
      deleteForm.submit();
    }

    // When Checkbox-all is clicked
    checkboxAll.change(function (event) {
      var isChecked = $(this).prop('checked')
      courseItemCheckbox.prop('checked', isChecked)
      renderCheckAllSubmitBtn()
    })

    // When course checkbox is clicked
    courseItemCheckbox.change(function (event) {
      //check if total number of courses checkbox if equal to selected courses checkbox
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIDs[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })

    // Re-render check all submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseIDs[]"]:checked').length
      if (checkedCount > 0) {
        $('.btn-sm').attr('disabled', false)
      } else {
        $('.btn-sm').attr('disabled', true);
      }
    }

    // Check all sumbit button clicked
    $('.btn-sm').on('submit', function (e) {
      /*var isSubmitable = !$(this).hasClass('disabled')
      if (isSubmitable) {
        e.preventDefault();
      }*/
    })
  });
</script>