<div class="mt-4">
  <div>
    <h3>Thùng rác</h3>
    <a href="/me/stored/courses/">Danh sách khóa học</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Thời gian cập nhật</th>
        <th scope="col" colspan="2">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.updatedAt}}</td>
        <td><a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</a></td>
        <td><a href="" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
            data-bs-target="#delete-course-model">Xóa vĩnh viễn</a></td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Thùng rác trống
          {{!-- <a href="/courses/create"> Tạo khóa học</a> --}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- Modal - Confirm delete courses --}}
<div class="modal" tabindex="-1" id="delete-course-model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa vĩnh viễn khóa học ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xác nhận xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete submit form --}}
<form method="POST" name="delete-course-form"></form>
{{!-- Restore submit form --}}
<form method="POST" name="restore-course-form"></form>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseID;
    var deleteForm = document.forms['delete-course-form']
    var restoreForm = document.forms['restore-course-form']
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var restoreBtn = $('.btn-restore');
    console.log(restoreBtn)

    // When Delete button clicked
    $('#delete-course-model').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseID = button.data('id');
    });

    // When Confirm button clicked
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseID + '/hardDelete?_method=DELETE';
      deleteForm.submit();
    }

    // When Restore Button clicked
    restoreBtn.click(function (e) {
      e.preventDefault();
      var courseID = $(this).data('id');
      restoreForm.action = '/courses/' + courseID + '/restore?_method=PATCH';
      restoreForm.submit();
    })

  });
</script>